#form3Example3 {
    height: 55px;
    border-radius: 60px;
    background-color: rgba(236, 230, 205, 0.666);
}

#form3Example4 {
    height: 55px;
    border-radius: 60px;
    background-color: rgba(236, 230, 205, 0.666);
}

.btn {
    height: 55px;
    width: 90px;
}
#form3Example1{
    height: 55px;
    border-radius: 60px; 
    background-color: rgba(236, 230, 205, 0.666);
}
#form3Example2{
    height: 55px;
    border-radius: 60px;
    background-color: rgba(236, 230, 205, 0.666);
}
.bg{
    background-color: rgba(252, 255, 251, 0.312);
}